@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
body {
  background-color: white;
  width: 100%;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}
.header {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar {
  padding: 30px 20px 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  height: 25px;
}
.desktop-screen-nav {
  display: none;
}
.dropdown-icon-container {
  width: 25px;
  height: 17px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.dropdown-icon-line {
  height: 0.5px;
  border: 1px solid white;
}
.dropdown-content {
  position: absolute;
  right: 5%;
  width: 90%;
  margin-top: 50px;
  height: 305px;
  padding: 40px 0px 40px 0px;
  background-color: white;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.show {display: flex;}
.header-nav-links {
  color: hsl(232, 10%, 55%);
  font-size: 20px;
}
.contact {
  height: 55px;
  width: 135px;
  color: hsl(212, 27%, 19%);
  background-color: hsl(51, 100%, 49%);
  text-transform: uppercase;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fraunces', serif;
  font-size: 15px;
}
.title-container {
  margin-top: 85px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #ffffff;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 9px;
}
.down-arrow {
  height: 110px;
  width: 30px;
}
.standalone-image {
  height: auto;
  width: 100%;
}
.marketing-content-section {
  padding-top: 16%;
  padding-bottom: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-box {
  width: 83%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.heading1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  color: hsl(212, 27%, 19%);
}
.marketing-description {
  font-size: 20px;
  line-height: 27px;
  color: hsl(232, 10%, 55%);
}
.learn-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-more-text {
  font-size: 16px;
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
  z-index: 1;
}
.learn-more-underline {
  height: 10px;
  width: 135px;
  border-radius: 10px;
  margin-top: -8px;
}
#yellow-underline {
  background-color: #fff3aa;
}
#pink-underline {
  background-color: #ffccd5;
}
.background-image-section {
  position: relative;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#cherries {background-image: url(./images/mobile/image-graphic-design.jpg);}
#orange-photography {background-image: url(./images/mobile/image-photography.jpg);}
.background-image {
  position: absolute; top: 0; left: 0;
  /* position: absolute; top: 0; left: 0; z-index:1; */
  height: 600px;
}
.title-and-description-box {
  position: relative;
  width: 355px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
  /* z-index: 2; */
}
#graphic-design-text {
  color: hsl(167, 40%, 24%);
}
#photography-text {
  color: hsl(198, 62%, 26%);
}
.heading2 {
  position: relative;
  /* z-index: 2; */
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 30px;
  text-transform: capitalize;
}
.marketing-description-style2 {
  position: relative;
  font-size: 17px;
  line-height: 27px;
  /* z-index: 2; */
  text-align: center;
  color: hsl(167, 40%, 24%);
}
.testimonials-section {
  padding: 65px 20px 90px 20px;
}
.testimonials-heading {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4px;
  color: hsl(210, 4%, 67%);
}
.client-testimonial-container {
  display: flex;
  margin-top: 65px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.client-profile-image {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.testimonial {
  margin-top: 35px;
  font-size: 18px;
  line-height: 30px;
  color: hsl(213, 9%, 39%);
}
.client-info {
  margin-top: 35px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.client-name {
  font-size: 19px;
  font-family: 'Fraunces', serif;
}
.client-title {
  font-size: 15px;
  color: rgb(136, 150, 150, 0.9);
}
.image-4square-container {
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-image {
  background-repeat: no-repeat;
  background-size: cover;
}
#milkbottles {background-image: url(./images/mobile/image-gallery-milkbottles.jpg);}
#orange {background-image: url(./images/mobile/image-gallery-orange.jpg);}
#cone {background-image: url(./images/mobile/image-gallery-cone.jpg);}
#sugarcubes {background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);}
.footer {
 height: 350px;
 background-color: #91d3c6;
 padding-top: 60px;
}
.footer-logo-container {
  margin-bottom: 35px;
  text-align: center;
}
.footer-logo {
  filter: brightness(0) saturate(100%) invert(35%) sepia(46%) saturate(490%) hue-rotate(118deg) brightness(93%) contrast(90%);
  height: 33px;
  width: auto;
}
.footer-nav-bar {
  color: hsl(168, 34%, 41%);
  margin: 0px 35px 85px 35px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.social-media-logos-container {
  height: 20px;
  width: 165px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}